body {
    background-color: rgb(213, 213, 174);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13px;
    color: #8f786a;

}

#menu {
    width: 800px;
    height: 105px;
    margin: 0 auto;
    background-image: url(cartoon\ city.jpg);

}

#menu li {
    float: left;
    width: 122px;
    height: 65px;
    padding: 50px 0;
}

#menu a {
    width: 100px;
    height: 32px;
    color: black;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;

}

#header {
    width: 770px;
    height: 160px;
    margin: 0 auto;
}

#logo {
    float: left;
    width: 250px;
    height: 160px;
    background-color: rgb(220, 122, 155);
}

#logo h1 {
    text-align: center;
    padding-top: 80px;
    letter-spacing: 7px;
    font-size: 195%;

}

#banner {
    width: 520px;
    height: 160px;
    float: right;
    background-color: rgb(204, 204, 128);

}

#banner p {
    padding: 20px 10px;
}

#page {
    width: 760px;
    margin: 0 auto;
    padding: 20px 0 0 0;
}

#content {
    float: right;
    width: 510px;
}

.post {
    margin-bottom: 20px;
}

.post .title {
    padding: 0 20px;
}

.post .story {
    padding: 0 20px;
}

.boxed .title {
    height: 32px;
    margin: 0;
    padding: 8px 0 0 20px;
    background-color: rgb(247, 219, 167);
    color: brown;

}

.boxed .story {
    padding: 0 20px;
    border: 1px solid crimson;
}

#sidebar {
    float: left;
    width: 240px;

}

#sidebar ul {
    margin: 0;
    padding: 0;
}

#sidebar li {
    margin-bottom: 15px;
}

#sidebar li ul {
    padding: 10px;
    border: 1px solid blue;
    border-top: none;
}

#sidebar li li {
    margin: 0;
    padding: 5px 7px;
    background-color: rgb(178, 168, 155);
}

#sidebar li h2 {
    height: 30px;
    margin: 0;
    padding: 10px 0 0 15px;
    color: brown;
}

#footer {
    height: 100px;
    padding: 15px 0;
    color: purple;
    border-top: 5px solid #8f786a;
    text-align: center;
    background-color: burlywood;


}

#legal {
    margin: 0;
}